@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 75vh;
  margin-top: 1em;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.videoText {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.switchText {
  display: inline-block;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
}

.animating {
  transform: rotateX(360deg);
  opacity: 0;
}

.description {
 
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-top: 1rem;
}

.subtitle {
    font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
  color: #d32f2f;
  border-bottom: 2px solid #e0e0e0;
}